.block1 {
	background-color: red;
	width: 200px;
	height: 200px;
	padding: 10px;
	float: right;
	box-sizing: border-box;
}

.block2 {
	background-color: yellow;
	width: 200px;
	height: 200px;
	padding: 10px;
	float: left;
	box-sizing: border-box;
}

.block3 {
	background-color: green;
	width: 200px;
	height: 200px;
	float: left;
}

.block4 {
	clear: both;
}